<%= render 'shared/nav', page_name: "company details" %>
<%= render 'shared/profile_nav'%>
<div class="container">
  <div id="showcase">
    <div class="card">
      <h1>Company name: <%= current_user.producer.company_name %></h1>
    </div>
  </div>
</div>