<h2>Sign up</h2>

<%= form_with model: @producer, url: company_signup_path, local: true do |form| %>

  <%= label_tag :company_name %>
  <%= form.text_field :comapny_name%>

  <%= form.submit 'sign up company' %>
<% end %>

