<nav style= "display: flex; justify-content: space-between; border-bottom: 1px black solid;">
  <H1>bean depot</H1>
  <%# <%= link_to 'profile', :profile_path %>
  <h1>welceom to bena depat</h1>
  <div>
    <span>search</span>
    <span>cart</span>
    <span>profile</span>
  </div>
</nav>