<%= render 'shared/nav', page_name: 'cart' %>
<h1>Helocome to your cart, <%= @current_user.fname %></h1>
</h2>
<% @current_cart.each do |cart|%>
  <%= render 'shared/product_card', product: cart.product %>
<% end %>
