<%= render 'shared/nav', page_name: "#{current_user.fname}" %>

<nav style= "display: flex; justify-content: space-around; border-bottom: 1px black solid;">
  <h2>my orders</h2>  
  <h2>my details</h2>  
  <h2>cart</h2>
    <% p current_user.isProducer? %>
  <% if current_user.isProducer? %>
    <%= render 'profile/producer' %>
  <% end %>
  <% if current_user.isAdmin? %>
    <%= render 'profile/admin' %>
  <% end %>
</nav >
