<%= render 'shared/nav', page_name: @product.name %>
<div class="container">
  <div id='showcase'>
    <div class="card">
      <h1><%= @product.name %></h1>
      <%= render 'shared/product_card', product: @product, page: 'home/show'%>
    </div>
  </div>
</div>