<%= render 'shared/nav', page_name: "product listings" %>
<%= render 'shared/profile_nav'%>
<div class="container">
  <div id="showcase">
    <div class="card">
      <h1>Create new product</h1>
      <%= render "product_form", product: @product %>
    </div>
  </div>
</div>